<h2>Liste des joueurs</h2>
<table class="table table-hover">
  <thead class="table-dark">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Équipe</th>
    <th>Salary</th>
    <th>Goals</th>
    <th>Top Scorer</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of playerList" [ngClass]="{'highlight' : player.goals >=30}">
    <td>{{ player.id }}</td>
    <td>{{ player.firstname }}</td>
    <td>{{ player.club }}</td>
    <td>{{ player.salary | currency:'MAD'}}</td>
    <td>{{ player.goals }}</td>
    <td>
      <div *ngIf="player.goals >= 30 ; else MyBlock">YES</div>
      <ng-template #MyBlock>NO</ng-template>
    </td>
  </tr>
  </tbody>
</table>
